@import 'styles/Fonts.scss';
@import 'styles/Breakpoints.scss';

.container {
    width: 100%;
    position: relative;

    .icon {
        border-radius: 8px;

        &:hover {
            background-color: var(--background-tertiary);
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        background-color: var(--background);
        position: absolute;
        z-index: 10;
        top: 100%;
        right: 10%;
        width: 300%;
        height: 300%;
        border-radius: 8px;
        border: 2px solid var(--border);

        padding: 5px;

        .menuSection {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .studyTitle {
                width: 100%;
                background-color: transparent;
                border: 0px solid var(--border);
                color: var(--text-primary);
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            .studyMode {
                color: var(--text-primary);
            }
    
            .logOut {
                color: var(--text-primary);
                border: none;
                text-decoration: underline;
                background-color: transparent;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}