body {
    --background: #68d61f;
    --background-faded: #cec9b2;
    --background-secondary: #3B5249;
    --background-secondary-faded: #4f645c;
    --background-tertiary: #EEEBE1;
    --border: #999586;
    --text-primary: #3B5249;
    --text-secondary: #D3D4D9;
    --text-tertiary: #7e968d;
    --text-fourth: #081A0A;
    --accent: rgb(68,17,14);
    --accent-faded: rgb(109, 57, 55);
    
    --underline: #A7A6A2;
    --alert: #ac2f27;
    --alert-dark: #8f1d15;
    --white: #fef5e2;

    height: 100%;
    margin: 0;
    background-color: var(--background);
    color: var(--text-primary);
}

[data-theme='dark'] {
    --background: #121212;
    --background-faded: #202020;
    --background-secondary: #292929;
    --background-secondary-faded: #4e4e4e;
    --background-tertiary: #242424;
    --border: #292929;
    --text-primary: #A49E8D;
    --text-secondary: #D3D4D9;
    --text-tertiary: #3f3e3e;
    --text-fourth: #d6d6d6;
    --accent: rgb(68,17,14);
    --accent-faded: rgb(109, 57, 55);
    
    --wrong: #ac2f27;
    --right: #3B5249;

    --underline: #A7A6A2;
    --alert: #A49E8D;
    --alert-dark: #807b6d;
    --white: #fef5e2;
}

[data-theme='light'] {
    --background: #ddd8c4;
    --background-faded: #cec9b2;
    --background-secondary: #3B5249;
    --background-secondary-faded: #4f645c;
    --background-tertiary: #EEEBE1;
    --border: #999586;
    --text-primary: #3B5249;
    --text-secondary: #D3D4D9;
    --text-tertiary: #7e968d;
    --text-fourth: #081A0A;
    --accent: rgb(68,17,14);
    --accent-faded: rgb(109, 57, 55);
    
    --wrong: #ac2f27;
    --right: #3B5249;

    --underline: #A7A6A2;
    --alert: #ac2f27;
    --alert-dark: #8f1d15;
    --white: #fef5e2;
}

.pageContainer {
    display: flex;
    justify-content: center;
}