@import '../styles/Colors.scss';
@import '../styles/Fonts.scss';
@import '../styles/Breakpoints.scss';

.light {
    background-color: $primary_background;
    color: $dark-font-color;
}

.topSection {
    display: flex;
    align-items: center;
}

.pageContainer {
    display: flex;
    justify-content: center;
}