.wrong {
    color: var(--wrong);
}

.right {
    color: var(--right);
}

.hidden {
    color: var(--background);
}

.target::first-letter {
    text-decoration: underline;
    text-decoration-color: black;
}