

$first_color: #fff;
$second_color: #fff;
$third_color: #fff;

$primary_background: #05103c; // Dark
$secondary_background: #1a2448; // Light
$tertiary_background: #101c43; // Medium
$secondary_color: #4ad0ec;
$tertiary_color: rgb(255, 255, 255);
$accent_color: rgb(68,17,14);