

$first_color: #fff;
$second_color: #fff;
$third_color: #fff;

$primary_background: #ddd8c4; // Dark
$secondary_background: #3B5249; // Light A1674A
$tertiary_background: #3B5249; // Medium
$secondary_color: #2E0F15;
$tertiary_color: #2E0F15;
$accent_color: rgb(68,17,14);
$font-color: #D3D4D9;
$dark-font-color: #3B5249;

$maroon: #ac2f27;
$white: #fef5e2;