

$first_color: #fff;
$second_color: #fff;
$third_color: #fff;

$primary_background: #ddd8c4; // Dark
$secondary_background: #3B5249; // Light A1674A
$secondary_background_faded: #4f645c; // Light A1674A
$tertiary_background: #3B5249; // Medium
$secondary_color: #999586;
$tertiary_color: #ddd8c4;
$accent_color: rgb(68,17,14);
$font-color: #D3D4D9;
$light-font-color: #7e968d;
$dark-font-color: #3B5249;
$faded-font-color: rgb(211,212,217, 0.5);
$darker-font-color: #081A0A;

$maroon: #ac2f27;
$white: #fef5e2;
$grey: #A7A6A2;
$dark-grey: #888784;
$tan: #EEEBE1;
$red: #ac2f27;
$red_dark: #8f1d15;