.deleteBtn {
    position: absolute;
    content: url('../assets/red_x.png');
    width: 30px;
    height: 30px;
    top: -13px;
    right: -13px;

    &:hover {
        filter: brightness(150%);
    }
}