@import './Fonts.scss';
@import './Colors.scss';

html,
body {
  padding: 0;
  margin: 0;
  // -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  background-color: $primary_background;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: $annie_font;
}
