.loginContainer {
    display: flex;
    align-items: center;
    flex-direction:row;
    color: black;
    margin: 5px 0px 0 0px;

    .profileContainer {
        display: flex;
        
        .profilePic {
            border-radius: 25px;
            transform: scale(0.8);
            align-self: center;
        }  
    }


}

.image {
    border-radius: 25px;
    transform: scale(0.8);
    align-self: center;
}

.signIn {
    color:black;
    // transform: scale(0.8);
    cursor: pointer;
    margin: 5px 0px 5px 5px;
}