@import './Colors.scss';
@import './Fonts.scss';
@import './Breakpoints.scss';

.box {
    display: flex;
    position: relative;
    width: 65vw;
    height: inherit;
    justify-content: space-around;
    margin-bottom: 2em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $secondary_color;

    background-color: $secondary_background;

    transition: 0.1s;

    &:hover {
        background-color: $secondary_background_faded;
    }

    @media screen and (min-width: $bp-tablet) {
        width: 50vw;
    }
}

.leftSection {
    width: 95%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;

    h1, h2, h3, h4 {
        margin: 0.1em;
        font-family: $annie_font;
        font-style: bold;
    }
}

.rightSection {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}