@import './Colors.scss';
@import './Fonts.scss';
@import './Breakpoints.scss';

.box {
    display: flex;
    position: relative;
    width: 65vw;
    height: inherit;
    justify-content: flex-start;
    margin-bottom: 2em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $secondary_color;

    background-color: $secondary_background;

    transition: 0.1s;

    &:hover {
        background-color: $secondary_background_faded;
        animation: enlarge 1.5s;
        animation-timing-function: linear; 
        transform: scale(1.02);
    }

    @media screen and (min-width: $bp-tablet) {
        width: 50vw;
    }
}

.leftSection {
    width: 95%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;

    h1, h2, h3, h4 {
        margin: 0.1em;
        font-family: $baskerville;
        font-style: bold;
    }
}

.anchor {
    width: 100%;
    color: $font-color;
    text-decoration: none;
}

.hoverIcons {
    // Edit Btn
    img {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 20px;
        right: -13px;
    
        &:hover {
            filter: brightness(150%);
        }
    }
}